h1{
	color: blue;
}

li{
	/*Google hex color to pick a RGB color value*/
	color: rgb(30,200,0);
}

p{
	/*Google hex color to pick a HEX color value*/
	color: #378a87;
}

h4{
	/*Google hex color to pick a RGB color value*/
	/*a = alpha = transparency*/
	color: rgba(180, 100, 0, 0.5);
}

body{
	/*We can set body background colors or images*/
	/*background: gray;*/
	background: url(https://images.unsplash.com/photo-1589254065878-42c9da997008?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-repeat: no-repeat;
}

div{
	background: blue;
	border: orange;
	border-width: medium; /*20px*/
	border-style: solid;
	/* Alternative in one line: */
	/*border: red 10px dotted;*/
}

span{
	background: red;
	color: black;
}

/* Classes and Ids */

.firstDiv{
	color: blue;
}

.secondDiv{
	background-color: gray;
}

#singeParagraph{
	color: red;
}

/* Fonts */

/*Google for fonts available on all platforms*/
/*We can also use standard family types and each platform chooses one: cursive, monospace, etc.*/
/*Or we can use Google Fonts: we add a link in the HTML head and select font on the web*/
h1{
	/* font-family: Courier; or cursive, monospace */
	font-family: 'Roboto', sans-serif; /*Google Font linked in HTML head */
}

p{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}